@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Sora:wght@100..800&display=swap');

body {
  padding: 10px 0.5em 0.5em 0.5em;
  min-width: 15.625rem;
  min-height: 18.75rem;
  background-color: #FEFBE3;
  margin: 0.5em 0.5em;
  box-shadow: 
    -6px 0 0 0 #FFA600,
    6px 0 0 0 #FFA600,
    0 -6px 0 0 #FFA600,
    0 6px 0 0 #FFA600,
    -6px -6px 0 0 #BFBFBF,
    6px -6px 0 0 #BFBFBF,
    -6px 6px 0 0 #BFBFBF,
    6px 6px 0 0 #BFBFBF;
  position: relative;
}

.title, .buttons, .informationInput, .socialInput, .copies, .social-copies {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 5%;
}

.title {
    font-family: "Pixelify Sans", serif;
    font-size: 38px;
    color:#FFA600;
    margin: 0.75rem;
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-shadow: -2px 2px black;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.informationInput, .socialInput {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    max-width: 600px;
    margin: 0 auto;
    max-height: 300px;
    overflow-y: auto;
}

.textInputInfo, .textInputSocial {
    margin-top: 1rem;
}

.hidden {
  display: none
}

.copies, .social-copies {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
}

.copies li, .social-copies li {
    background-color: white;
    border: 2px dashed #FFA600;
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "VT323", monospace;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    word-wrap: break-word;
    position: relative;
}

.copies li .deleteBtn, .social-copies li .deleteBtn {
    font-family: "Pixelify Sans", serif;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.deleteBtn {
  color: red;
  cursor: pointer;
  margin-right: 10px;
}

.deleteBtn:hover {
  opacity: 0.7
}

.Mainbuttons {
  padding: 0px;
  font-size: 8px;
  background-color: #4245a8;
  color: #fefbe1;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  padding: .4rem 1rem;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0,.8,.26,.99);
}

.Mainbuttons:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: .7s cubic-bezier(0,.8,.26,.99);
  z-index: -1;
  background-color: #4245a8;
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.Mainbuttons:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: .7s cubic-bezier(0,.8,.26,.99);
}

.Mainbuttons:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.Mainbuttons:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.Mainbuttons:active {
  transform: translateY(4px);
}

.Mainbuttons:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

.default-message {
    font-family: "VT323", monospace;
    color: #BFBFBF;
    text-align: center;
    padding: 0.5rem;
}

.truncated-text {
  display: inline-block;
  max-width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollable {
  max-height: 200px;
  overflow-y: auto;
}

.full-text {
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    max-height: none;
    flex-grow: 1;
    margin-right: 30px;
}

.addInfoButton, .addSocialButton {
    background: url('plus.png') no-repeat center center;
    background-size: 16px 16px;
    width: 180px;
    height: 2.5em;
    border: 2px dashed #FFA600;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.addInfoButton:focus, .addSocialButton:focus {
    outline: none;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #FFA600;
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: #FF8C00;
}

.copies::-webkit-scrollbar, .social-copies::-webkit-scrollbar {
    width: 8px;
}

.copies::-webkit-scrollbar-track, .social-copies::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.copies::-webkit-scrollbar-thumb, .social-copies::-webkit-scrollbar-thumb {
    background: #FFA600;
    border-radius: 10px;
}

.copies::-webkit-scrollbar-thumb:hover, .social-copies::-webkit-scrollbar-thumb:hover {
    background: #FF8C00;
}